<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Amount</th>
			<th>Message</th>
			<th>Read</th>
		</tr>
	</thead>
	<% @contributions.each do |contribution| %>
		<tr>
			<td>
		    <%= contribution.name %>
		  </td>
		  <td>
		    <%= contribution.amount %>
		  </td>
		  <td>
		    <%= contribution.message %>
		  </td>
		  <td>
		  	<%= form_for [@user, contribution] do |f| %>
		  	  <%= f.hidden_field :display, value: false %>
		  	  <%= f.submit :Done %>
		  	<% end %>
		  </td>
		</tr>
	<% end %>
<table>